body {
    background: linear-gradient(to bottom, #675770, #3a323b);
    color: white;
}

.card {
    transition: transform 0.2s;
    height: 105%; 
    display: flex;
    flex-direction: column; 
    
}

.card:hover {
    transform: scale(1.05);
}

.anime-title {
    transition: color 0.3s;
}

.anime-title:hover {
    color: #727bab; 
}

.anime-title a {
    color: inherit; 
    text-decoration: none; 
}

.anime-title a:hover {
    text-decoration: underline; 
}
